.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    border: 1px solid var(--primary-color);
    padding: 24px;

    .list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}