.progress {
    --circle-size: 300px;
    width: var(--circle-size);
    height: var(--circle-size);

    & > div {
        width: 100%!important;
        height: 100%!important;
        
    }
}

.wrapper {
    --circle-size: 300px;
    min-width: 200px;
    max-width: var(--circle-size);
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 16px solid transparent;
    flex-direction: column;
    display: grid;
    grid-template-columns: minmax(0, var(--circle-size));
    align-items: center;
    justify-content: center;

    &.filled {
        background: var(--primary-color);
        border-color: var(--primary-color);
    }

    &.outlined {
        border-color: var(--primary-color);
        background: transparent;
    }

    &.interactive {
        cursor: pointer;
    }

    .title {
        color: white;
        text-transform: lowercase;
        font-size: 42px;
        white-space: pre-line;
        text-align: center;
        font-weight: bold;
    }
}