.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    padding: 24px;

    .controls {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .currentTicket {
        padding: 24px;
        background-color: var(--primary-color-mask-10);
        text-align: center;
        border-radius: 12px;
        color: var(--primary-color);
    }

    .currentTicketTitle {
        text-transform: uppercase;

        &.noActiveTicket {
            text-transform: lowercase;
        }
    }
}