COMPOSE_PROJECT_NAME=queueflow

BACKEND_IMAGE=ghcr.io/alexander03e/qr_app-backend:main
FRONTEND_IMAGE=ghcr.io/alexander03e/qr_app-frontend:main
FRONTEND_PORT=8080
PROMETHEUS_PORT=9090
WATCHTOWER_INTERVAL_SECONDS=300
DOCKER_CONFIG_PATH=/root/.docker/config.json
DOCKER_API_VERSION=1.44

DJANGO_SECRET_KEY=change-me-to-long-random-secret
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=cfifeg1.fvds.ru,localhost,127.0.0.1,backend
DJANGO_CSRF_TRUSTED_ORIGINS=http://cfifeg1.fvds.ru,https://cfifeg1.fvds.ru
DJANGO_CORS_ALLOW_ALL_ORIGINS=False
DJANGO_CORS_ALLOWED_ORIGINS=http://cfifeg1.fvds.ru,https://cfifeg1.fvds.ru
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False

POSTGRES_DB=queueflow
POSTGRES_USER=queueflow
POSTGRES_PASSWORD=change-me-db-password
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_CONN_MAX_AGE=60

GUNICORN_WORKERS=3

WEB_PUSH_VAPID_PUBLIC_KEY=
WEB_PUSH_VAPID_PRIVATE_KEY=
WEB_PUSH_VAPID_SUBJECT=mailto:admin@cfifeg1.fvds.ru

VK_BOT_ACCESS_TOKEN=
VK_API_VERSION=5.199
VK_OAUTH_CLIENT_ID=
VK_OAUTH_CLIENT_SECRET=
VK_OAUTH_REDIRECT_URI=
VK_OAUTH_STATE_MAX_AGE_SECONDS=900
VK_BOT_URL=
